* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
}

/* //////////// LOGIN FORM //////////////// */
.login-form {
  max-width: 360px;
  border: 2px solid lightslategrey;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 2px;
}

.login-btn {
  width: 100%;
  height: 55px;
  background: #344D67;
  color: white;
  border: none;
  border-radius: 6px;
}

.full-width {
  width: 100%;
}

.register-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.selection {
  padding: 10px;
}

.heading {
  color: #344D67;
}